# Configurações do Banco de Dados
DB_HOST=177.85.162.132
DB_PORT=54329
DB_NAME=db_dataware
DB_USER=usr_censo
DB_PASSWORD=agsus@censo

# Configurações do Servidor
PORT=3000

# CORS (opcional - deixe vazio para permitir todas as origens)
# CORS_ORIGIN=http://localhost:8080
