# Dependências
node_modules/
package-lock.json

# Variáveis de ambiente
.env

# Logs
*.log
npm-debug.log*
logs/

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# PM2
.pm2/
